[user]
	name = Brian Lachniet
[core]
	autocrlf = true
	editor = 'C:/Program Files (x86)/Vim/vim80/vim.exe'
[alias]
	s = status --short
	co = checkout
	b = branch
	lo = log --oneline --decorate --graph
	diffy = difftool --dir-diff
[push]
	default = simple
[pull]
	ff = only
[diff]
	tool = bc3
[difftool "bc3"]
	path = C:/Program Files/Beyond Compare 4/bcomp.exe
[merge]
	tool = bc3
[mergetool "bc3"]
	path = C:/Program Files/Beyond Compare 4/bcomp.exe
