[user]
	name = Brian Lachniet
	email = blachniet@gmail.com
[core]
	autocrlf = true
[alias]
	s = status --short
	co = checkout
	b = branch
	lo = log --oneline --decorate --graph
[push]
	default = simple
